body
{
    background-size: cover;
    background-position: center;
}
.heading
{
    width:100%;
    font-size:larger;
    margin-top: 0px;
}

.link
{
    background: white;
    border-radius: 10px;
    width: 250px;
    margin-top: 15px;
    font-size:medium;
}

.link:hover
{
    font-size:large;
}

h1
{
    color:white;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
